/* This stylesheet is used to style the admin option form of the plugin. */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.float_left {
    float: left;
    width: 49%;
}
.float_left:first-child {
    margin-right: 1%;
}
.float_left:last-child {
    margin-left: 1%;
}
.articles {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 49%;
    float: left;
    margin-top: 5px;
}
.articles:first-child {
    margin-right: 1%;
}
.articles:last-child {
    margin-left: 1%;
}
.articles ul.sortable {
    border:1px solid #cccccc;
    padding: 15px;
    margin: 0;
    min-height: 400px;
    -webkit-border-radius: 3px;
    border-radius:3px;
}
.articles ul.draggable {
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 15px;
    margin: 0;
    overflow-y:scroll;
    height: 311px;
}
.articles li {
    width: 100%;
    margin-bottom: 15px;
    cursor:move;
}
.articles li header {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
    background: #666666;
    color:#ffffff;
    font-weight: bold;
}
.articles .edit {
    width: 16px;
    height: 16px;
    background: url(../img/icon-edit.png) no-repeat;
    float: right;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
.articles li:hover .edit {
    opacity: 1;
}

.articles .post-format-icon {
    margin: 0;
}
.articles .post-format-icon:before {
    color: #aaaaaa;
    font-size: 18px !important;
}

.article-filter {
    border:1px solid #cccccc;
    background: #dfdfdf;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.article-filter .fields {
    margin-bottom: 5px;
    padding:10px;
    border-bottom: 1px dotted #000000;
}
.article-filter label {
    font-weight: bold;
    cursor: default;
}
.article-filter .float_left label {
    display: block;
}
.article-filter input,
.article-filter select {
    width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.article-filter .sorting {
    padding:0 10px 3px 10px;
}
.article-filter .sorting span:hover,
.article-filter .sorting span.active {
    text-decoration: underline;
    cursor: pointer;
}
.articles .post-notice {
    margin-left: 5px;
}