/* This stylesheet is used to style the admin option form of the plugin. */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.segments_metabox .articles {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 49%;
    float: left;
    margin-top: 5px;
}
.segments_metabox .articles:first-child {
    margin-right: 1%;
}
.segments_metabox .articles:last-child {
    margin-left: 1%;
}
.segments_metabox .articles ul.sortable {
    border:1px solid #cccccc;
    padding: 10px 8px;
    margin: 0;
    min-height: 400px;
    -webkit-border-radius: 3px;
    border-radius:3px;
}
.segments_metabox .articles ul.draggable {
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 10px 8px;
    margin: 0;
    overflow-y:scroll;
    height: 311px;
}
.segments_metabox .articles li {
    width: 100%;
    padding: 0px 2px;
    margin-bottom: 10px;
    float: left;
    box-sizing: border-box;
    cursor: move;
}
.segments_metabox .articles li.empty {
    display: none;
}
.segments_metabox .articles li header {
    padding: 5px;
    position: relative;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #666666;
}
.segments_metabox .articles .edit,
.segments_metabox .articles .options {
    margin-left: 5px;
    position: absolute;
    top: 5px;
}
.segments_metabox .articles .options {
    right: 27px;
}
.segments_metabox .articles .edit {
    right: 5px;
}
.segments_metabox .articles .edit,
.segments_metabox .articles .options .dashicons {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    cursor: pointer;
}
.segments_metabox .articles li:hover .edit,
.segments_metabox .articles li:hover .options .dashicons,
.segments_metabox .articles li .options.active .dashicons {
    opacity: 1;
}

.segments_metabox .articles li .options .dashicons,
.segments_metabox .articles li .edit {
    width: 16px;
    height: 16px;
    color: white;
    font-size: 17px;
    line-height: 17px;
    z-index: 1;
}

.segments_metabox .articles li .options-lightbox {
    min-width: 300px;
    position: absolute;
    top: 20px;
    left: 0px;
    display: none;
    color: black;
    background: white;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    z-index: 200;
}
.segments_metabox .articles li .options.active .options-lightbox {
    opacity: 1;
    display: block;
}
.segments_metabox .articles li .options-lightbox .title {
    height: 30px;
    padding: 0 36px 8px 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    border-bottom: 1px solid #dfdfdf;
    background: #fcfcfc;
}
.segments_metabox .articles li .options-lightbox .submitbox {
    padding: 8px 16px;
    border-top: 1px solid #dfdfdf;
    background: #fcfcfc;
}
.segments_metabox .articles li .options-lightbox table {
    margin: 10px 15px;
}
.segments_metabox .articles ul.draggable li .options {
    display: none;
}

.segments_metabox .articles .post-notice {
    margin-left: 5px;
}

.segments_metabox .articles .post-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: padding .2s ease-in-out;
    -moz-transition: padding .2s ease-in-out;
    -webkit-transition: padding .2s ease-in-out;
}

.segments_metabox .articles .post-format-icon {
    margin: 0;
    position: absolute;
    top: 5px;
    left: 5px;
}
.segments_metabox .articles .post-format-icon:before {
    color: #aaaaaa;
    font-size: 18px !important;
}

.segments_metabox .articles li:hover .post-title {
    padding-right: 40px;
}
.segments_metabox .articles .post-format-icon + .post-title {
    padding-left: 22px;
}

.segments_metabox .article-filter {
    border:1px solid #cccccc;
    background: #dfdfdf;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.segments_metabox .article-filter .fields {
    margin-bottom: 5px;
    padding:10px;
    border-bottom: 1px dotted #000000;
}
.segments_metabox .article-filter label {
    font-weight: bold;
    cursor: default;
}
.segments_metabox .article-filter .float_left label {
    display: block;
}
.segments_metabox .article-filter input,
.segments_metabox .article-filter select {
    width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.segments_metabox .article-filter .sorting {
    padding:0 10px 3px 10px;
}
.segments_metabox .article-filter .sorting span:hover,
.segments_metabox .article-filter .sorting span.active {
    text-decoration: underline;
    cursor: pointer;
}